@{
    Layout = "";
}
@model Nop.Plugin.Widgets.NewProducts.Models.ConfigurationModel

@using Nop.Web.Framework;
<h1>Configuration</h1>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <select id="select">
        <option value="1" selected="selected"> 1 </option>
        <option value="2"> 2 </option>
        <option value="3"> 3 </option>
        <option value="4"> 4 </option>
    </select>
    <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")"/>
}